@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
}

body {
	background: url(../images/timg2.jpeg) no-repeat center;
	background-size: cover;
}

a { 
	text-decoration:  none;
}

.head {
	width: 100%;
	height: 50px;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	z-index: 999;
}

ul {
	list-style: none;
	margin-left: 230px;
}

ul li {
	float: left;
	color: white;
	font-size: 12px;
	font-weight: 900;
	margin-left: 25px;
	line-height: 50px;
}

.head_user_icon {
	width: 35px;
	height: 35px;
	border: 1px solid burlywood;
	border-radius: 8px;
	margin-top: 8px;
}

#musicBtn {
	margin-top: 5px;
	width: 40px;
	height: 40px;
	animation: rotate 3s infinite;
}

@keyframes rotate {
	from {}
	to {
		transform: rotate(360deg);
	}
}

.time {
	float: right;
	margin-right: 260px;
	font-size: 20px;
}

.back {
	width: 100%;
	height: 450px;
	background: url(../images/5.jpg) no-repeat center;
	background-size: cover;
	margin-top: 50px;
}

.send_content {
	width: 60%;
	background: ghostwhite;
	border: 1px solid gainsboro;
	border-radius: 5px;
	margin: 50px auto;
}

.tour_content {
	width: 100%;
	height: 200px;
	margin: auto;
}

textarea {
	width: 100%;
	height: 70%;
	outline: none;
}

textarea:focus {
	outline: none;
}

.tour_content a {
	float: left;
	display: inline-block;
	width: 45%;
	height: 25%;
	border: 2px dashed rgba(0, 0, 0, 0.5);
	text-align: center;
	line-height: 56px;
	color: #666;
	font-weight: bolder;
	position: relative;
	overflow: hidden;
}

.tour_content a:hover {
	color: #222;
	background: wheat;
}

input[type=file] {
	position: absolute;
	top: 10px;
	right: -150px;
	font-size: 30px;
	opacity: 0;
}

#publish {
	float: left;
	border: none;
	width: 9%;
	height: 28%;
	font-size: 16px;
	color: #666666;
	font-weight: bolder;
	background: rgba(0, 0, 0, 0.3);
}

#publish:focus {
	color: white;
	background: rgba(0, 0, 0, 0.8);
}

.record {
	position: relative;
	width: 60%;
	background: white;
	margin: 60px auto;
	border-radius: 5px;
}

.record_history {
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.record_img {
	width: 68%;
	height: 100%;
	float: left;
}

.record_info {
	width: 30%;
	height: 100%;
	float: right;
	position: relative;
	background: white;
}

.delete {
	float: right;
	font-size: 20px;
	margin: 10px 10px 0 0;
}

.record_descript {
	margin: 50px 0;
	left: 5%;
	width: 70%;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	word-break: break-word;
}

.record_music {
	position: absolute;
	bottom: 23%;
	left: 5%;
	width: 80%;
}

.music {
	font-size: 14px;
	color: cornflowerblue;
	width: 100%;
}

.down_load {
	float: right;
	font-size: 14px;
}

.user_info {
	position: absolute;
	bottom: 10px;
	left: 5%;
	width: 80%;
	margin: auto;
}

.user_icon {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.record_time, .record_userName {
	float: left;
	width: 50%;
	margin-top: 8px;
	margin-left: 20px;
	font-size: 14px;
	font-weight: bolder;
	color: #666666;
}

.record_comment {
	border: none;
	position: absolute;
	bottom: -30px;
	left: 0px;
	height: 30px;
	width: 60%;
}

.sub_comment {
	border: none;
	position: absolute;
	bottom: -30px;
	left: 60%;
	width: 10%;
	height: 30px;
}